@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  height: 100%;
  margin: 0;
}
span {
  padding-right: 15px;
  padding-left: 15px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-chat {
  background-color: #0084ff;
  border-radius: 10px;
  width: 900px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.robot {
  width: 60px;
  height: 60px;
}

.chat {
  height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

input {
  padding: 15px;
  margin-left: auto;
  border-radius: 10px;
  border: 2px solid #007b94;
  width: 100%;
}

input:focus {
  border: 2px solid #007b94;
  color: black;
}

#btn{
  border: 2px solid #007b94;
  background-color: #fff;
  color: #0084ff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: .5rem;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
  width: 100%;
  background-color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #007b94;
}

.messages::-webkit-scrollbar{
  display: none;
}

#bot {
  display: flex;
  justify-content: flex-start;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#user {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.bot {
  font-family: "Poppins", sans-serif;
  color: black;
}

.bot span {
  border-radius: 10px 10px 10px 0;
  margin-left: 4px;
  max-width: 37rem;
}

span {
  background-color: #def0f4;
  color: #000;
}

img {
  border-radius: 50%;
}

.response {
  display: flex;
  align-items: center;
}

#user span {
  border-radius: 10px 10px 0px 10px;
  background-color: #0084ff;
  color: #fff;
  margin-right: 4px;
}

/* Mobile */

@media (max-width: 980px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .chat {
    width: 97vw;
  }
  .header-con {
    margin-top: 5px;
  }
  .bg-chat {
    height: calc(100vh - 65px);
  }
  .chat {
    height: 100%;
  }
  .bot span {
    max-width: 17rem;
  }
  
}

@media (min-width:500px) and (max-width:980px){
  .bot span {
    max-width: 30rem;
  }
}
